{{set . "title" "Download photos"}}
{{template "Events/header.html" .}}

<style>
.photo img {
	padding: 5px;
}
.photo:hover img {
	border: 4px dashed #666;
	padding: 1px;
}
.photo.selected img {
	border: 4px solid #468847;
	padding: 1px;
}
.cart {
	position: fixed;
	border: 5px dashed #666;
	top: 0;
	right: 0;
	padding: 10px;
	background-color: #FFF;
}
</style>

<div class="container">
<form method="post" action="/Events/{.event.EventId}/PostDownload" target="_blank">

{{template "messages.html" .}}

{{template "Events/pagination.html" .pagination}}
{{template "Events/gallery.html" .gallery}}

<div class="cart">
	<p style="font-size: 16px;"><span id="num-photos">0</span> photos selected.</p>
	<button class="btn btn-primary btn-large">Download</button>
</div>

</form>
</div>

<script>
var numSelected = 0;
$(".photo").click(function(e) {
	if ($(this).hasClass("selected")) {
		$(this).removeClass("selected");
		numSelected--;
	} else {
		$(this).addClass("selected");
		numSelected++;
	}
	$("#num-photos").text(numSelected);
	return false;
});

$("form").submit(function(e) {
	$(".photo.selected").each(function(p) {
		$("form").append(
			'<input type="hidden" name="paths[]" value="' + $(this).attr("path") + '"/>');
	});
	numSelected = 0;
	$("#num-photos").text(numSelected);
	$(".photo").each(function(p) {
		$(this).removeClass("selected");
	});
	return true;
});
</script>

{{template "footer.html" .}}

