{{set . "title" "View photos"}}
{{template "Events/header.html" .}}

<style>
.photo {
  position: relative;
}
.delete-photo {
  display:none;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 24px;
  padding: 15px 10px;
	color: #c00;
  cursor: pointer;
}
.photo:hover .delete-photo {
  display:block;
}
.delete-photo:hover {
  color: #fff;
}
</style>

<div class="container">

{{template "messages.html" .}}
{{template "Events/pagination.html" .pagination}}
{{template "Events/gallery.html" .gallery}}

</div>

<script>
$(".delete-photo").click(function(e) {
	if (confirm("Are you sure you want to delete the photo?")) {
		var photoId = $(this).parent().attr("photoId");
		$('<form method="POST" action="/photos/'+photoId+'/delete"></form>').appendTo("body").submit();
	}
});
</script>

{{template "footer.html" .}}

