{{set . "title" "View photo"}}
{{template "Events/header.html" .}}

<style>
.pagination {
	font-size: 50px;
}
</style>

<div class="container">
	<div class="row">
		<span class="pull-left pagination">
			{{if .prev}}<a href="{{.prev.ViewUrl}}">&laquo; previous</a>
			{{else}}&laquo; previous
			{{end}}
		</span>
		<span class="pull-right pagination">
			{{if .next}}<a href="{{.next.ViewUrl}}">next &raquo;</a>
			{{else}}next &raquo;
			{{end}}
		</span>
	</div>
	<div class="row">
		<span class="span12">
			<img src="{{thumbUrl .photo 940 705}}">
			<table class="table table-striped">
				<tr><td>Uploaded by</td><td>{{.photo.Username}}</td></tr>
				<tr><td>Taken</td><td>{{.photo.Taken}}</td></tr>
				<tr><td>Dimensions</td><td>{{.photo.Width}}x{{.photo.Height}}</td></tr>
			</table>
		</span>
	</div>
</div>

{{template "footer.html" .}}

