{{set . "title" "Welcome to PhotoBoard"}}
{{template "header.html" .}}

<div class="container">
<div class="row" style="height:100px"><div class="span12">&nbsp;</div></div>

<div class="row"><div class="span6 offset3">

<form class="form-horizontal well" method="post" action="/events">
	<fieldset>
		<legend>Welcome to PhotoBoard</legend>
		<h4>Create an Event</h4>
{{template "messages.html" .}}

		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="text" id="email" name="email" placeholder="Email">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="event">Event name</label>
			<div class="controls">
				<input type="text" id="event" name="event" placeholder="Event name">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</div>
	</fieldset>
</form>

</div></div>

<div class="row">
	<div class="span3 lead">1. Create an Event</div>
	<div class="span3 lead">2. Upload Photos</div>
	<div class="span3 lead">3. Share Link w/ Friends</div>
	<div class="span3 lead">4. Download their Photos</div>
</div>

{{template "footer.html" .}}

