<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">PhotoBoard.us</a>
				<ul class="nav">
					<li{{if eq .Controller.Action "Application.View"}} class="active"{{end}}><a href="/">View</a></li>
					<li{{if eq .Controller.Action "Application.Download"}} class="active"{{end}}><a href="/download">Download</a></li>
					<li{{if eq .Controller.Action "Application.Upload"}} class="active"{{end}}><a href="/upload">Upload</a></li>
				</ul>
			</div>
		</div>

